{{ template "base" . }}

{{define "content"}}
<h1>Booking Details</h1>
<h2>Room</h2>
<ul>
  <li>Room: {{.RoomName}}</li>
  <li>Grade: {{.RoomGrade}}</li>
</ul>
<h2>Your Information</h2>
<ul>
  <li>Arrival: {{ .Form.Arrival }}</li>
  <li>Departure: {{ .Form.Departure }}</li>
  <li>Name: {{ .Form.FirstName }} {{ .Form.LastName }}</li>
  <li>Email: {{ .Form.Email }}</li>
  {{ with .Form.Phone }}
  <li>Phone: {{ . }}</li>
  {{ end }}
  <li>Status: {{ .Status }}</li>
</ul>
{{end}}
