{{ template "base" . }}

{{define "content"}}
<h1>Booking Confirmed</h1>
<h2>Room: {{ .RoomName }}</h2>
<ul>
  <li>Arrival: {{ .Form.Arrival }}</li>
  <li>Departure: {{ .Form.Departure }}</li>
</ul>
<h2>Your Information</h2>
<ul>
  <li>Name: {{ .Form.FirstName }} {{ .Form.LastName }}</li>
  <li>Email: {{ .Form.Email }}</li>
  <li>Phone: {{ .Form.Phone }}</li>
</ul>
{{end}}
