{{ template "base" . }}

{{define "content"}}
<h1>General's Quarters</h1>
<p>A comfortable room with all the amenities you need for a pleasant stay.</p>
<a href="/make-reservation">Check Availability</a>
{{ end }}
