{{ template "base" . }}

{{define "content"}}
<h1>Welcome to the Home Page</h1>
<ul>
  <li><a href="/about">About</a></li>
  <li><a href="/contact">Contact</a></li>
  <li><a href="/generals-quarters">General's Quarters</a></li>
  <li><a href="/majors-suite">Major's Suite</a></li>
  <li><a href="/search">Search Availability</a></li>
</ul>
{{ end }}
