{{ template "base" . }}

{{define "content"}}
<h1>Major's Suite</h1>
<p>
  A spacious suite offering premium accommodations for a truly memorable stay.
</p>
<a href="/make-reservation">Check Availability</a>
{{ end }}
