{{ template "base" . }}

{{define "content"}}
<h1>Reservation Summary</h1>
<ul>
  <li>First Name:</li>
  <li>Last Name:</li>
  <li>Email:</li>
  <li>Phone:</li>
  <li>Arrival:</li>
  <li>Departure:</li>
</ul>
{{ end }}
