{{ template "base" . }}

{{define "content"}}
<h1>Superior Room</h1>
<p>
  A spacious suite offering premium accommodations for a truly memorable stay.
</p>
<a href="/superior/search">Check available rooms</a>
{{ end }}
